name: Continuous Integration

on:
  push:
    branches: [ master, develop ]
  pull_request:
    branches: [ master, develop ]

jobs:
  build-and-test:
    # The type of runner that the job will run on
    name: Test on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest]

    steps:
    # from https://github.com/marketplace/actions/flutter-action
    - uses: actions/checkout@v1
    - uses: actions/setup-java@v1
      with:
        java-version: '12.x'
    - uses: subosito/flutter-action@v1
      with:
        channel: 'stable'
    - run: flutter pub get
    - run: flutter --version
    - run: flutter doctor
    - run: flutter  analyze
    - run: flutter test

    # - run: flutter build macos --release
    - run: flutter build appbundle
    
    # this for integration test
    #- name: Run Flutter Driver tests
    #- run: flutter drive --target=test_driver/app.dart

